{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}
    <h2 class="text-center text-danger">Welcome to FK Resort and Spa</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet beatae, delectus earum enim eveniet fuga itaque mollitia odio odit, quas quis ratione unde voluptate! Dolores nesciunt veniam voluptatum.</span><span>Alias aliquam aliquid, aperiam dolor eligendi facere magni quae quia, quod suscipit tempore, tenetur voluptatem. Cupiditate eum ex expedita id impedit laudantium omnis, quod similique sit ut vel veritatis, voluptate.</span><span>Aperiam consequatur culpa cumque doloremque id impedit incidunt, iusto nulla omnis quasi repellendus reprehenderit sequi soluta tempore, unde ut voluptatum. Doloremque doloribus ducimus ipsum mollitia reiciendis! Id in praesentium ut.</span><span>Assumenda atque dicta nam, nihil odit sunt suscipit. Ad assumenda debitis ea error omnis quidem. Architecto asperiores blanditiis dicta doloribus eos minima nulla quae quam quibusdam, sit. Eveniet, quos, totam.</span></p>

    <footer>
<div class="container">
  <div class="row">
      <div class="col-sm-4 " >
          <img src="{% static 'images/instagram.png' %}" alt="">
      </div>
      <div class="col-sm-4">
           <img src="{% static 'images/whatsapp.png' %}" alt=""> 
      </div>
      <div class="col-sm-4">
            <img src="{% static 'images/youtube.png' %}" alt="">
      </div>
      
          
     
      
  </div>

</div>
     <div class="copyright">
       &copy; All Rights Reserved. FK Resort & Spa.
     </div>
    </footer>

{% endblock %}